body{
  display: flex;
  background-image: url("img.jpg");
 background-color: #cccccc;
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color:white;
}
.content-Div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Poppins',sans-serif;
}
